<!DOCTYPE html>
<html lang="en">
  <head>
   <%= render 'header' %>
  </head>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">

			<h1>Title:
  				<%= @article.title %>
			</h1>
			<p>
  				<b>Text:</b>
  				<%= @article.text %>
			</p>
		</div>
	</div>
	<div class="row">
	<div class="col-xs-12">
		<b>Comments</b><br><br>
		<%= render @article.comments %>

		<b>Add a comment:</b><br><br>
		<%= render 'comments/form' %>
	</div>
	</div>
	
	<%= link_to 'Edit', edit_article_path(@article) %> |
	<%= link_to 'Back', articles_path %>

</div>
</html>